/* Latihan 3.2 = Menambahkan Background Color */
body {
  background-color: #95d1cc;
}

/* Latihan 3.3 = Merias Horizontal Rule */
hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border-width: 15px;
  border-style: none;
  border-top-style: dotted;
  width: 30%;
  border-color: black;
}

/* Latihan 3.4 = Menggunakan Groupping Selector */
h1,
h2 {
  text-align: center;
}

/*  Latihan 3.5 = Menggunakan max-witdh dan margin-auto */
ol,
ul,
image,
p {
  display: block;
  max-width: 500px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

/* Latihan 3.6 = Menambahkan Navigator Bar */
nav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
